@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Poppins:wght@300;600&display=swap');

*{
    font-family: "Anek Tamil", sans-serif;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    /* background-color: black; */
    /* background-size:cover; */
}

.background {
    /* background: rgba(202, 202, 202, 0.8); */
    background-image: url('../images/register-background.jpg');
    /* background-size: cover; */
    background-position: center;
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* opacity: 50%; */
}
.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -0.5;
}
.overlay {
    position: relative;
    z-index: 2;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    background: #a1a1a1da;
    opacity: 100%;
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 600px;
    max-width: 90%;
    gap:15px
}

.logo {
    display: flex;
    justify-content: center;
    padding:30px 0px 10px 0px;
    /* margin-top: 20px; */
    /* position: absolute; */
}

.logo img{
    width: 318px;
    height: 66px;
    left: 561px;
    top: 128px;
    /* background: url(./../asset/logo-color.png); */
    mix-blend-mode: screen;
    border-radius: 10px;
}

.register-form{
    color:white;
    display: flex;
    flex-direction: column;
    gap:5px
}

.register-data{
    display: flex;
    gap:1px;
}

.form-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    /* gap:0px; */
    width:100%;    
}

.data{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form-info input{
    width:100%;
}

.form-label{
    width:100%;
    display: flex;
    justify-content: start;
}
.form-check{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:18px;
    font-weight: 300;
    gap:10px;
}

.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 0.5px;
    background-color: rgb(255, 255, 255);
    /* margin: 5px; */
}

.register-container h2 {
    margin: 10px 0;
    font-size: 30px;
    /* color: #666; */
    font-weight: 500;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 30px;
}

.register-container input {
    padding: 10px;
    height:40px;
    /* width:150px; */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-weight: 300;
}

.register-container button {
    padding: 10px;
    height: 55px;
    width: 80%;
    font-size: 20px;
    background-color: #215BB6;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 300;
}


.register-container button:hover {
    background-color: #0056b3;
}

.register-container p {
    font-size: 16px;
    margin:0px 10px; 
    font-weight: 300;
    font-style: normal;
    /* position: absolute; */
}
